lambdas/stepFunctions/step-functions.json
{
  "Comment": "gecko StateMachine",
  "StartAt": "Pass",
  "States": {
    "Pass": {
      "Type": "Pass",
      "Next": "ActionChoice"
    },
    "ActionChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.action",
          "StringEquals": "start",
          "Next": "startServer"
        },
        {
          "Or": [
            {
              "Variable": "$.action",
              "StringEquals": "stop"
            },
            {
              "Variable": "$.action",
              "StringEquals": "restart"
            }
          ],
          "Next": "changeServerState"
        }
      ],
      "Default": "Fail"
    },
    "changeServerState": {
      "Type": "Task",
      "Resource": "${changeServerState}",
      "End": true
    },
    "startServer": {
      "Type": "Task",
      "Resource": "${changeServerState}",
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.isInstanceReady",
              "BooleanEquals": true
            },
            {
              "Variable": "$.state",
              "StringEquals": "running"
            }
          ],
          "Next": "Parallel"
        },
        {
          "Variable": "$.isSuccessful",
          "BooleanEquals": false,
          "Next": "Fail"
        }
      ],
      "Default": "Wait"
    },
    "Parallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "StartMinecraft",
          "States": {
            "StartMinecraft": {
              "Type": "Task",
              "Resource": "${executeSSM}",
              "End": true
            }
          }
        },
        {
          "StartAt": "InstallCloudWatchAgent",
          "States": {
            "InstallCloudWatchAgent": {
              "Type": "Task",
              "Parameters": {
                "DocumentName": "AmazonCloudWatchAgent",
                "InstanceIds": [
                  "$.instanceId"
                ]
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
              "Next": "ConfigureCloudWatchAgent",
              "ResultPath": null
            },
            "ConfigureCloudWatchAgent": {
              "Type": "Task",
              "End": true,
              "Parameters": {
                "DocumentName": "AmazonCloudWatch-ManageAgent",
                "InstanceIds": [
                  "$.instanceId"
                ],
                "Parameters": {
                  "action": [
                    "configure"
                  ],
                  "mode": [
                    "ec2"
                  ],
                  "optionalConfigurationLocation": [
                    "AmazonCloudWatch-linux"
                  ],
                  "optionalConfigurationSource": [
                    "ssm"
                  ],
                  "optionalRestart": [
                    "yes"
                  ]
                }
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand"
            }
          }
        }
      ],
      "End": true
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "startServer"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}